body{
    margin: 0;
    background: black;
    width: 1280px;
    height: 650px;
}
.main{
    width: 400px;
    height: 600px;
    background:rgb(64,64,64);
    margin-left: 480px;
    margin-top: 18px;
    border-radius: 46px;
    border: solid #ffffff 12px;
}
#display{
    font-family: cursive;
    height: 60px;
    margin-top: 11px;
    margin-left: 12px;
    margin-right: 12px;
    border: solid 2px;
    background: beige;
    padding-top: 12px;
    font-size: 25px;
    text-align: right;
}
.btn{
    width: 91px;
    height: 70px;
    font-size: x-large;
    cursor: pointer;
    border-radius: 20px;
    background: rgb(128, 128, 128);
    margin-left:3px;
    color: #ffffff;
}
.btns{
    width: 91px;
    height: 70px;
    font-size: x-large;
    cursor: pointer;
    border-radius: 20px;
    background: rgb(109, 96, 96);
    margin-left: 3px;
    color: #ffffff;

}
.letters{
    margin-left: 12px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
.keys{
    display: flex;
    flex-direction: column;
}
.full-web{
    background: black;
    margin: 0px;
    width: 1370px;
    height: 700px;
}

#casio{
    font-family: math;
    font-weight: bold;
    padding-left: 165px;
    font-size: x-large;
    color: oldlace;
}
@media  screen and (max-width : 480px){
    .main{
       margin-left: 0;
    }
}
@media  screen and (max-width : 767px){
    .main{
       margin-left: 130px;
        
    }
}
